<% if @ebooks.count < 1 %>
   <%= render "nobooks" %>
<% else %>
<table id="ebooks" data-toggle="table" data-search="true">
  <thead>
    <th data-field="Cover">Cover</th>
    <th data-field="Title" data-sortable="true">Title</th>
    <th data-field="Author(s)" data-sortable="true">Author(s)</th>
  </thead>
  <tbody class="page">
    <%= render @ebooks %>
  </tbody>
</table>
<%= paginate @ebooks %>
<% end %>
