<nav class="navbar navbar-dark bg-inverse">
  <%= link_to "ReadingCloud", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">
    
    <li class="nav-item active">
      <a class="nav-link" href="movies/new">Upload Book<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => :nav_link) %>
    </li>
  </ul>
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form>
</nav>
